<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:with="lang=${#locale.language}" th:lang="${lang}" lang="hu">
<head>
<meta charset="UTF-8">
<script src="http://x3dom.org/release/x3dom.js"></script>
<link rel="stylesheet" href="http://x3dom.org/release/x3dom.css" />
<title>Insert title here</title>
</head>
<body>
<div class="x3d-content">
    <x3d x='0px' y='0px' width='500px' height='500px'>
    <scene>
    <inline url='a_65x6x2_5_v_veses_rose_gold.x3d'></inline>
    </scene>
    </x3d>
    </div>
</body>
</html>